body{
    background-color: #8e9fab;
}

.ae_principal span
{
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
    color: white;
}

.link-ae {
  color: #FFFFFF;
    padding-right: 70px;
    font-size:14px;
}

.link-home-ae {
    color: #FFFFFF;
    font-size: 22px;
    text-shadow: 2px 2px 5px #ffffff;
    padding-right: 20px;
}

.navbar_button_ae{
    background-color: 000000;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: -7px;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.ae_sidebar{
    border-radius: 10px;
}
