.link-ae {
  color: #FFFFFF;
    padding-right: 50px;
    font-size:14px;
}

.link-home-ae {
  color: #FFFFFF;
    font-size: 20px;
      text-shadow: 2px 2px 5px #ffffff;
    padding-right: 100px;
}

