body{
    background-color: #8e9fab;
}

.link-ae {
  color: #FFFFFF;
    padding-right: 70px;
    font-size:14px;
}

.link-home-ae {
  color: #FFFFFF;
    font-size: 20px;
      text-shadow: 2px 2px 5px #ffffff;
    padding-right: 50px;
}

.navbar_button_ae{
    background-color: 000000;
}